

.fiche-artisan {
  margin-bottom: 1rem;
}

.about-artisan {
  background: #fff;
  border: none;
  border-radius: .5rem;
  padding: 1rem;
}

.contact-artisan {
  background: #fff;
  border: none;
  border-radius: .5rem;
  padding: 1rem;
}


.contact-form {
  border: 2px solid #00497c;
  border-radius: 35px;
  background-color: #f1f8fc;
}

.send-button {
  background-color: #00497c;
}

.send-button:hover {
  background-color: #00497c;
}

.fiche-artisan .btn.btn-primary,
.contact-artisan .btn.btn-primary,
.artisan-card-actions .btn.btn-primary {
  border-radius: 35px;
}