.profile-img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid green !important;
}


.card {
    max-width: 300px !important;
    margin: 50px;
    justify-content: center;
}